<footer id="footer" class="footer-main">
	<section class="container footer-gray">
		<div class="footer-section-1 ">
			<div class="row">
				<div class="footer-links col-md-6">
					<a href="javascript:void(0)" class="fb" disabled>
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a href="javascript:void(0)" class="twitter" disabled>
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
					<a href="javascript:void(0)" class="gplus" disabled>
						<i class="fa fa-google-plus" aria-hidden="true"></i>
					</a>
				</div>
				<div class="footer-legal-wraps text-right col-md-6">
					<ul>
						<li>
							<a ui-sref="privacy">Privacy Policy</a>
						</li>
						<li>
							<a ui-sref="terms">Terms of Use</a>
						</li>
						<li>
							<a href="javascript:void(0)">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-section-1 ">
			<div class="text-center copyright">
				Rio © 2017. All rights reserved.
			</div>
		</div>		
	</section>
</footer>