<footer id="footer" class="minified-footer">
	<div class="container">
		<div class="row">
			<div class="footer-links col-md-6">
				<a href="javascript:void(0)" class="fb" disabled>
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="javascript:void(0)" class="twitter" disabled>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="javascript:void(0)" class="gplus" disabled>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</a>
			</div>
			<div class="footer-links col-md-6">
				<div class="text-right copy-rgt">
					Rio © 2017. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>