<div id="privacy-container" class="container">
	<div class="page-title1">
		<h1 class="privacy-title">PRIVACY POLICY
		<span class="hidden-xs rev-date bh-text-blue">Date of Last Revision: 30<sup>th</sup> Apr 2017</span>
		</h1>
	</div>
	<section>
		<article class="content-privacy">
			This Privacy Notice (“Notice”) describes how Rio Rides and its respective subsidiaries, associate companies and jointly controlled entities use your Personal Data.
		</article>
		<article>
			<uib-accordion  id="privacy-accordion" close-others="oneAtATime">
				<div uib-accordion-group is-open="open1">
			      	<uib-accordion-heading>
			       		Collection of Personal Data
			       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open1, 'glyphicon-chevron-right': !open1}"></i>
			      	</uib-accordion-heading>
				    <section>
			      		<article class="inp-wrapper">
			      			“Personal Data” means information about you, from which you are identifiable, including but not limited to your name, passport, nationality, address, telephone number, bank details, credit card details, gender, date of birth, email address, your occupation, your Rio Rides details, the industry in which you work, any information about you which you have provided to Rio Rides in registration forms, application forms or any other similar forms and/or any information about you that has been or may be collected, stored, used and processed by Rio Rides from time to time and includes sensitive personal data.
			      		</article>
			      		<article class="inp-wrapper">
			      			The provision of your Personal Data is voluntary. However if you do not provide Rio Rides your Personal Data, Rio Rides will not be able to process your Personal Data for the Purposes and Additional Purposes outlined below.
			      		</article>
			      		<article class="inp-wrapper">
			      			If you are an agent, vendor, supplier or service provider, provision of your Personal Data is mandatory and failure to provide your Personal Data, may be a breach of laws or regulatory requirements, and may cause Rio Rides to be unable to engage you to provide services or issue payments to you for services provided.
			      		</article>
			      		<article class="inp-wrapper">
			      			In addition to the Personal Data you provide to Rio Rides directly, Rio Rides may collect your Personal Data from a variety of sources such as:
							1.	Fill up application or registration forms or other similar forms;
							2.	From publicly available sources such as directories,
							3.	From Rio Rides’s social media pages, if you follow, like or are a fan of such pages;
							4.	From credit reporting agencies;
							5.	When you interact and communicate with Rio Rides at any events or activities;
							6.	When you enter contests organized by Rio Rides,
							7.	From various entities or divisions under Rio Rides; or
							8.	By using Rio Rides websites, which includes all websites operated by Rio Rides and under the names of its respective brands (“Websites”). Your personal data may also be collected from cookies used on theWebsites.
			      		</article>
			      	</section>
			    </div>	
			    <div uib-accordion-group is-open="open2">
			      	<uib-accordion-heading>
			       		Purposes of Processing<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open2, 'glyphicon-chevron-right': !open2}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
			      			Rio Rides may use and process your Personal Data for business and activities of Rio Rides which shall include, without limitation the following (“Purpose”):
			      		</article>
			      		<article class="inp-wrapper">
		      				<div>	
		      					<p>Where you are a customer of the services provided by Rio Rides:</p>
		      					<ul>
		      						<li>
		      							to perform the Rio Rides’s obligations in respect of any contract entered into with you;
		      						</li>
		      						<li>
		      							to provide you with any service you have requested that comes under Rio rides business considerations;
		      						</li>
		      						<li>
		      							to process your subscriptions and to deliver the services to you;
		      						</li>
		      						<li>
		      							where you have requested to download and use the Rio rides app, to process your request, to deliver the App to you and to provide you a license for the use of the App;
		      						</li>
		      						<li>
		      							to process your participation in any events, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions;
		      						</li>
		      						<li>
		      							to process, manage or verify your application for subscription with the Rio Rides and to provide you the benefits offered to subscribers;
		      						</li>
		      						<li>
		      							to validate your bookings and process payments relating to any products or services you have requested;
		      						</li>
		      						<li>
		      							to understand and analyses our sales as well as your needs and preferences;
		      						</li>
		      						<li>
		      							to develop, enhance and provide products and services to meet your needs;
		      						</li>
		      						<li>
		      							to process exchanges or product returns;
		      						</li>
		      					</ul>
		      				</div>
			      		</article>
			      		<article class="inp-wrapper">
			      			<div>	
		      					<p>Where you are an agent, vendor, supplier, partner, contractor or service provider:</p>
		      					<ul>
		      						<li>
		      							for the purposes of engaging you to provide services or products;
		      						</li>
	      							<li>
		      							to facilitate or enable any checks as may be required by Rio Rides in order to engage you;
		      						</li>
		      						<li>
		      							to process payments relating to any products or services you have provided;
		      						</li>
		      						<li>
		      							to contact you or your Rio Rides;
		      						</li>
      							</ul>
  							</div>
			      		</article>
			      		<article class="inp-wrapper">
			      			<div>	
			      				<p>
			      					General:			      					
			      				</p>
			      				<ul>
			      					<li>
			      					to respond to questions, comments and feedback from you;	
			      					</li>
			      					<li>
			      					to communicate with you for any of the purposes listed in this Notice;	
			      					</li>
			      					<li>
			      					for internal administrative purposes, such as auditing, data analysis, database records;
			      					</li>
			      					<li>
			      						for purposes of detection, prevention and prosecution of crime;
			      					</li>
			      					<li>
			      						for Rio Rides to comply with its obligations under law;
			      					</li>
			      				</ul>
			      			</div>
			      		</article>
		      			<article class="inp-wrapper">
		      				<div>
		      					<p>Rio Rides may also use and process your data for other purposes such as (“Additional Purposes”):</p>
		      					<ul>
		      						<li>
		      							To send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from Rio Rides, its partners, sponsors or advertisers;
		      						</li>
		      						<li>
		      							To notify and invite you to events or activities organized by Rio Rides, its partners, sponsors or advertisers;
		      						</li>
		      						<li>
		      							To share your Personal Data amongst its subsidiaries, associate companies and jointly controlled entities as well as with its agent, vendor, supplier, partner, contractor or service provider who may communicate with you to market their products, services, events or promotions by way of post, telephone call, short message service (SMS), by hand and/or by email.
		      						</li>
		      					</ul>
		      				</div>	
		      			</article>
		      		</section>
		   		</div>	
			    <div uib-accordion-group is-open="open3">
			      	<uib-accordion-heading>
			       		Unsubscribe and Revocation of Consent<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open3, 'glyphicon-chevron-right': !open3}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
			      			If you wish to unsubscribe to the processing of your Personal Data for Additional Purposes by Rio Rides, please click on the link “Unsubscribe” which is embedded in the relevant email in order not to receive any email in the future.
			      		</article>
			      		<article class="inp-wrapper">
			      			If you wish to revoke the consent that Rio Rides has obtained from you for the Purposes stipulated herein, please notify Rio Rides using the contact details stated below.
			      		</article>
		      		</section>
		    	</div>
			    <div uib-accordion-group is-open="open4">
			      	<uib-accordion-heading>
			       		Transfer of Personal Data<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open4, 'glyphicon-chevron-right': !open4}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
			      			Your Personal Data may be transferred to, stored, used and processed in a jurisdiction other than your home nation or otherwise in the country, state and city in which you are present while using any services provided by Rio Rides
			      		</article>
		      		</section>
		    	</div>	
			    <div uib-accordion-group is-open="open5">
			      	<uib-accordion-heading>
			       		Disclosure to Third Parties<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open5, 'glyphicon-chevron-right': !open5}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
			      			<div>
			      				<p>
			      					Your personal data may be transferred, accessed or disclosed to third parties for the Purposes and Additional Purposes. Further, Rio Rides may engage other companies, service providers or individuals to perform functions on its behalf, and consequently may provide access or disclose to your Personal Data to such service providers or third parties. The third parties include, without limitation:	
			      				</p>
			      				<ul>
			      					<li>
			      						Rio Rides partners, which include parties with whom Rio Rides collaborates with for certain events, programs and activities;
			      					</li>
			      					<li>
			      						Event management companies and event sponsors;
			      					</li>
			      					<li>
			      						Marketing research companies;
			      					</li>
			      					<li>Service providers, including, information technology (IT) service providers for infrastructure, software and development work;
			      					</li>
			      					<li>Professional advisors and external auditors, including legal advisors, financial advisors and consultants;
			      					</li>
			      					<li>Other entities within Rio Rides; and
			      					</li>
			      					<li>
			      						Governmental authorities to comply with statutory, regulatory and governmental requirements.
			      					</li>
			      					<li>
			      						Your Personal Data may also be shared in connection with a corporate transaction, such as a sale of a subsidiary or a division, merger, consolidation, or asset sale, or in the unlikely event of winding-up	
			      					</li>
			      				</ul>
			      			</div>
			      		</article>
			      	</section>
			    </div>
			     <div uib-accordion-group is-open="open6">
			      	<uib-accordion-heading>
			       		Links to Third-Party Websites<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open6, 'glyphicon-chevron-right': !open6}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
							The Websites may contain links to third parties’ websites. Please note that Rio Rides is not responsible for the collection, use, maintenance, sharing, or disclosure of data and information by such third parties. If you provide information directly to such sites, the privacy policy and terms of service on those sites are applicable and Rio Rides is not responsible for the information processing practices or privacy policies of such sites.
			      		</article>
			      	</section>
			    </div>
			    <div uib-accordion-group is-open="open7">
			      	<uib-accordion-heading>
			       		Personal Information from Minors and Other Individuals<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open7, 'glyphicon-chevron-right': !open7}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
						As a parent or legal guardian, please do not allow the minor (individuals under 18 (eighteen) years of age) under your care to submit Personal Data to Rio Rides. In the event that such Personal Data is provided to Rio Rides, you hereby consent to the processing of the minor’s Personal Data and personally accept and agree to be bound by this Notice and take responsibility for his or her actions.
			      		</article>
			      		<article class="inp-wrapper">
						In some circumstances you may have provided personal data relating to other individuals (such as your spouse, family members or friends) and in such circumstances you represent and warrant that you are authorized to provide their personal data to Rio Rides and you have obtained their consent for their personal data be processed and used in the manner as set forth in this Notice.
			      		</article>
			      	</section>
			    </div>
			    <div uib-accordion-group is-open="open8">
			      	<uib-accordion-heading>
			       		Acknowledgement and Consent<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open8, 'glyphicon-chevron-right': !open8}"></i>
			      	</uib-accordion-heading>
			      	<section>
			      		<article class="inp-wrapper">
							By communicating with Rio Rides, using Rio Rides’s services, purchasing products from Rio Rides or by virtue of your engagement with Rio Rides, you acknowledge that you have read and understood this Notice and agree and consent to the use, processing and transfer of your Personal Data by Rio Rides as described in this Notice.
			      		</article>
			      		<article class="inp-wrapper">
							Rio Rides shall have the right to modify, update or amend the terms of this Notice at any time by placing the updated Notice on the Websites. By continuing to communicate with Rio Rides, by continuing to use Rio Rides’s services, purchasing products from Rio Rides or by your continued engagement with Rio Rides following the modifications, updates or amendments to this Notice, such actions shall signify your acceptance of such modifications, updates or amendments.
			      		</article>
			      	</section>
			    </div>
			</uib-accordion>
		</article>
	</section>
</div>