<div id="privacy-container" class="container">
	<div class="">
		<h1 class="privacy-title">TERMS OF USE
		<span class="hidden-xs rev-date bh-text-blue">Date of Last Revision: 30<sup>th</sup> Apr 2017</span>
		</h1>
	</div>
	<article  class="content-privacy">
		The ‘RIO Rides’ feature on the ‘RIO’ Application is owned, operated and provided by RIO
	</article>
	<uib-accordion  id="privacy-accordion">
		<div uib-accordion-group is-open="open1">
	      	<uib-accordion-heading>
	       		Overview
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open1, 'glyphicon-chevron-right': !open1}"></i>
	      	</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			These terms and conditions (“User Terms”) apply to Your visit to and use of RIO, whether through a computer or a mobile phone, as well as to all information, recommendations and or services provided to You with respect to RIO, on or through the Application and the Site
	      		</article>
	      		<article class="inp-wrapper">
	      			By clicking on the “I ACCEPT” button, You are consenting to be bound by these User
					Terms. PLEASE ENSURE THAT YOU READ AND UNDERSTAND ALL THESE USER TERMS
					BEFORE YOU USE RIO SERVICE. If You do not accept any of the User Terms, then please do not use RIO or avail any of the services being provided therein. YOUR AGREEMENT TO THESE USER TERMS SHALL OPERATE AS A BINDING AGREEMENT BETWEEN YOU AND RIO IN RESPECT OF THE USE OF RIO SERVICE
	      		</article>
			</section>
	    </div>	
	    <div uib-accordion-group>
	      	<uib-accordion-heading is-open="open2">
	       		Defenitions
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open2, 'glyphicon-chevron-right': !open2}"></i>
	      	</uib-accordion-heading>
		      	<section>
		      		<article class="inp-wrapper">
		      			1.	“Account” shall mean the account created by the Customer on the Application for availing the services provided by RIO on the Application.
						2.	“Applicable Laws” shall mean and include all applicable statutes, enactments, acts of legislature or parliament, laws, ordinances, rules, bye-laws, regulations, notifications, guidelines, policies, directions, directives and orders of any governmental authority, tribunal, or a court of India.
						3.	“Application” shall mean the mobile application “RIO” updated by RIO from time to time.
						4.	“City of Operation” shall mean a city in which the Customers avail the services.
						5.	“Customer/ You” shall mean a person who has an Account on the Application and uses the RIO Service for availing transportation services. For clarity, a Customer may not use the Application for availing RIO Service for a third party.
						6.	“Fare” shall mean such amount in Indian Rupees, which is reflected on the Application, as the amount payable for a Ride.
						7.	“Force Majeure Event” shall mean any event arising due to any cause beyond the reasonable control of RIO.
						8.	“RIO” shall mean the category icon ‘Bike’ available on the Application and shall include the Services offered therein including provision for Service Requests and Bookings as described in Clause 4.1.
						9.	“RIO Platform” shall mean and include the Application, the Site, the mobile interface provided to the Riders and all back-end technology/data.
						10.	“RIO T&C” shall mean the terms and conditions of use of the Application and/or the Site available at [Enter URL].
						11.	“Registration Data” shall mean and may include the present, valid, true and accurate name, email ID, phone number and such other information as may be required by RIO from the Customer from time to time for registration on the Application.
						12.	“Ride” shall mean the travel by the Customer in a Vehicle between the pick up and drop points indicated by the Customer on the Application.
						13.	“Rider” and/or “TSP” shall mean and include such individuals who own Vehicles, have necessary permits and licenses to provide transportation services and provide transportation services on and through the Application within the City of Operation.
						14.	“Site” shall mean the websites operated by RIO or any platform that enables the use of the Application by the Customers. For clarity, Site does not include the back end technology and data owned and operated by RIO and/or shared with the Riders.
						15.	“User Terms” shall mean these Customer terms and conditions.
						16.	“Vehicle” shall mean a ‘motor cycle’ as defined under the Motor Vehicles Act, 1988.
						17.	ELIGIBILITY
							1.	You will be “Eligible” to use the RIO Service only when You fulfil all of the following conditions:
							2.	You have attained at least 18 (eighteen) years of age.
							3.	You are competent to enter into a contract under the Applicable Laws.
					If you reside in a jurisdiction that restricts the use of the RIO Service because of age, or restricts the ability to enter into contracts such as this User Terms due to age, you must abide by such age limits.
		      		</article>
	      		</section>
		    </div>	
		    <div uib-accordion-group is-open="open3">
		      	<uib-accordion-heading>
		       		Registration and Account
		       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open3, 'glyphicon-chevron-right':!open3}"></i>
		      	</uib-accordion-heading>
		      	<section>
		      		<article class="inp-wrapper">
		      			You understand and acknowledge that you can use the RIO Service only after providing
						Registration Data and registering on the Application in terms of the RIO T&C. For clarity, the Account, 
						its usage and any communication pertaining to the Account and/or Registration shall be subject to RIO T&C
		      		</article>
		      		<article class="inp-wrapper">
		      			You acknowledge and agree that Your Information may be transferred or stored in a server outside
						India or the country where you are located in order to perform RIO’s obligations under these User Terms.
		      		</article>
					<article class="inp-wrapper">
		      			When You use the Portal or send emails or other data, information or communication to RIO, 
						You agree and understand that You are communicating with RIO through electronic records and You consent to receive 
						communications via electronic records from RIO periodically and as and when required. 
						RIO may communicate with you by email or by such other mode of communication, electronic or otherwise.
		      		</article>
					<article class="inp-wrapper">
		      			You hereby expressly consent to receive communications from RIO through Your registered phone number and/or e-mail id. 
						You consent to be contacted by RIO via phone calls/SMS notifications. You agree that any communication so received by 
						You from RIO will not amount to spam, unsolicited communication or a violation of Your registration on the national do not 
						call registry.
		      		</article>
				</section>
		    </div>	
		    <div uib-accordion-group is-open="open4">
		      	<uib-accordion-heading>
		       		Services
		       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open4, 'glyphicon-chevron-right': !open4}"></i>
		      	</uib-accordion-heading>
		      	<section>
		      		<article class="inp-wrapper">
		      			RIO offers information and a means to obtain transportation services offered by TSPs, 
						which may be requested through the use of Application or through any other channel made available
						by RIO for ‘booking’ purposes. Requests for transportation services raised through the Application and/or any other channel made 
						available by RIO shall hereinafter be referred to as “Service Requests”. 
						The acceptance of Service Requests by TSPs shall be referred to as “Bookings”. 
						All services provided by RIO to You by means of your use of the booking channel, 
						for booking purposes, are hereinafter referred to as the “RIO Service”. 
						RIO will store the information provided or record your calls for contacting you 
						for all service related matters. You may promptly inform RIO on any change in the information provided by you.
		      		</article>
		      		<article class="inp-wrapper">
		      			Presently RIO does not charge any fee for browsing the Application or the Site or for 
						availing RIO Service. However, in the event RIO decides to impose any such fee, 
						whether for the use of the Site or Application or RIO Service, it shall be notified 
						to You by email, a message on Your registered phone number or on the Application. 
						Your continuous use of the Application/ Site after such notification shall be deemed 
						to be acceptance of the revised fee term by You. You agree to pay such fee depending 
						on the features used by You, as long as You are registered on the Application.

		      		</article>
				</section>
	   		</div>
	    <div uib-accordion-group  is-open="open5">
			<uib-accordion-heading>
		       		How to Use The Rio Service
		       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open5, 'glyphicon-chevron-right': !open5}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			The RIO Service allows you to place Service Requests through RIO to a TSP on the RIO Platform. 
					The TSP has sole and complete discretion to accept or reject each Service Request. 
					If the TSP accepts a Service Request and confirms the Booking, RIO shall notify you and provide 
					information regarding the TSP – including Rider name, Vehicle license number, 
					and telephone contact details of the TSP.
	      		</article>
	      		<article class="inp-wrapper">
	      			RIO shall procure reasonable efforts to bring you into contact with a TSP in order to 
					obtain transportation service, subject to the availability of TSP in or around Your 
					location at the moment of Your placing a Service Request.
	      		</article>
			</section>
	    </div>	
    	<div uib-accordion-group is-open="open6">
	    	<uib-accordion-heading>
	       		By using the RIO Service, You further agree that:
       			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open6, 'glyphicon-chevron-right': !open6}"></i>
			</uib-accordion-heading>
		      	<section>
		      		<article class="inp-wrapper">
		      			1.	You will only use the RIO Service for personal use and will not place Service Requests fora third party;
						2.	You will not use the RIO Service for unlawful purposes;
						3.	You will not use the RIO Service for commercial delivery services/purposes;
						4.	You will not use the RIO Service in an inebriated state;
						5.	You will not try to harm the RIO Service, Site or our network in any way whatsoever;
						6.	You will provide RIO with such information and documents which RIO may reasonably request;
						7.	You will only use an authorized network to avail of the RIO Service;
						8.	You are aware that when placing a Service Request, whether by message, via Application, calling the call center of RIO, standard messaging charges, data charges, voice charges, as applicable, of Your and Our phone network service providers, will apply;
						9.	You will comply with all Applicable Law from Your country of domicile and residence and the country, state and/or city in which You are present while using the Application or RIO Service; and
						10.	You are aware of and shall comply with the Information Technology Act, 2000 and the rules, regulations and guidelines notified thereunder.
		      		</article>
		      		<article class="inp-wrapper">
		      			RIO reserves the right to immediately terminate your use of the RIO Service and/or
						the use of the Application in the event of non-compliance with any of the above 
						requirements.
		      		</article>
					<article class="inp-wrapper">
		      			The Riders reserve the right to terminate your use of the RIO Service in the event your usage of the RIO Service 
						requires assistance or services beyond transportation from the Riders. In the event of dispute, RIO reserves the 
						right to determine your usage of the RIO Service.
		      		</article>
					<article class="inp-wrapper">
		      			The Riders reserve the right to terminate your use of the RIO Service in the event you 
						are carrying excessive luggage. In the event of dispute, RIO reserves the right to 
						determine your usage of the RIO Service.
		      		</article>
					<article class="inp-wrapper">
		      			RIO shall, upon receiving a Service Request from You, proceed to confirm or decline
						the Service Request based on the availability of Vehicles and confirmation by TSPs 
						at the pickup time, which shall be informed to you vide an SMS and email. In the event
						Booking is confirmed, you shall check the Booking details including but not limited to
						pick up time and pick up place, and if there are incorrect details, the same needs to 
						be informed to us immediately by calling our call center(s).
		      		</article>
					<article class="inp-wrapper">
		      			You shall bear the consequences and damages for any delay that may be caused to you due
						to Your failure to check the confirmation SMS/email or failure to inform RIO of the 
						incorrect details immediately.
		      		</article>
					<article class="inp-wrapper">
		      			During the course of the Ride, You shall wear the helmet provided to you by the Rider.
		      		</article>
				</section>
	   		</div> 
	    <div uib-accordion-group is-open="open7">   
	   		<uib-accordion-heading>
	       		Payment
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open7, 'glyphicon-chevron-right': !open7}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			You may choose to pay for the RIO Service by either of the following two methods:
	      		</article>
	      		<article class="inp-wrapper">
	      			Cash payment: Cash payment towards the Fare after the completion of Ride can be made 
					to the Rider. In addition to the Fare, any toll duty, inter-state taxes, cess etc. 
					as may not be included in the Fare but payable to any third party for undertaking 
					the Ride under Applicable Law (“Additional Charges”), shall also be payable by You. 
					The toll charges will be payable by when the Vehicle crosses a toll post/border post
					while carrying You, except when the toll is charged on the return of the Vehicle, 
					such toll will be charged to You during the drop to the destination. 
					You are responsible for the timely payment of the Fare and Additional Charges, 
					in cash to the Rider.
	      		</article>
				<article class="inp-wrapper">
	      			Online payment: Online payment for a Ride can be made to RIO through any of the payment
					methods offered on the Application. When you choose to make an online payment, RIO shall
					collect the Fare on behalf of the TSP who will be responsible for providing the 
					transportation services. RIO also offers you the facility of making an online payment
					through an E-Wallet powered by a third party payment processor (“Payment Processor”).
					E-Wallet money will not be applicable on Bookings made while the Customer is not logged
					into his/her Account on the Application. The processing of payments or credits, as 
					applicable, in connection with your use of the E-Wallet will be subject to the terms,
					conditions, and privacy policies of the Payment Processor that RIO engages for the 
					purpose. RIO will not be responsible for any errors by the Payment Processor in any 
					manner. In the event the payment cannot be accepted through E-Wallet, You shall be 
					required to pay the Fare for the Ride/(s) in cash in terms of Paragraph 6.1 
					(Cash Payment) above. Further, even in cases of online payments, all Additional Charges
					shall have to be paid by you in cash, to the authority or person concerned or if 
					already paid by the Rider, to the Rider.
	      		</article>
				<article class="inp-wrapper">
	      			Any payment related issue, except when such issue is due to an error or fault in the 
					Application, shall be resolved between you and the Payment Processor. RIO shall not be
					responsible for any unauthorized use of Your E-Wallet during or after availing the RIO 
					Services on the Application.
	      		</article>
				<article class="inp-wrapper">
	      			RIO will generate the invoice on behalf of the Rider servicing your request, which will
					be sent across to your registered e-mail. Please note that the charges mentioned in the
					invoice are exclusive of the Additional Charges.
	      		</article>
			</section>
	    </div>	
    	<div uib-accordion-group is-open="open8"> 
	    	<uib-accordion-heading>
	       		Cancellation Policy
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open8, 'glyphicon-chevron-right': !open8}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			You may cancel the Booking up to 1 (one) hour prior to the time of journey, without any 
					User Violation of User Terms
	      		</article>
			</section>
	    </div>
	    <div uib-accordion-group is-open="open9"> 
			<uib-accordion-heading>
	       		User Violation of User Terms
	       	<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open9, 'glyphicon-chevron-right': !open9}"></i>
			</uib-accordion-heading>
			<section>
	      		<article class="inp-wrapper">
	      			You shall not smoke and/or consume alcohol in the Vehicles or misbehave with the Rider 
					or act in violation of Applicable Law. In the event you are found to be involved in the
					activities set out above, you shall be liable to pay a fine to RIO and/or RIO shall also
					have the right to terminate the Ride. In the event you fail to pay fine after the 
					completion of the Ride, RIO may at its sole and absolute discretion, take such steps
					as may be available to RIO under Applicable Law. You shall also be blacklisted as a 
					result of non-payment of the fine or for any misbehavior, as the case may be.
	      		</article>
			</section>
	    </div>	
	    <div uib-accordion-group is-open="open10"> 
	    	<uib-accordion-heading>
	       		Customer Relationship Management
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open10, 'glyphicon-chevron-right': !open10}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			All issues, opinions, suggestions, questions and feedback while availing RIO Service 
					may be communicated to us by writing in the feedback register available with the Rider
					or through email address or the toll free number mentioned on the RIO Platform. In case
					of a Ride booked on our RIO Platform, You shall be required to rate the Ride after its 
					termination. You agree to be fair, accurate and non-disparaging while leaving comment, 
					feedbacks, testimonials or reviews on or about the Riders or Rides or RIO Services.
	      		</article>
	      		<article class="inp-wrapper">
	      			YouReporting of any issue needs to be done within seven (7) days of the happening of 
					such issue, failing which, the issue will not be addressed. However complaint regarding
					Rider who you suspect to be under the influence of drugs or alcohol during the course 
					of the Ride, should be reported immediately, for us to take action.
	      		</article>
				<article class="inp-wrapper">
	      			Any issue reported on channels other than the above may be addressed by RIO only on a best 
					effort basis. RIO takes no liability for inability to get back on other channels.
	      		</article>
				<article class="inp-wrapper">
	      			RIO shall endeavor to respond to your issues within two (2) working days of your 
					reporting the same and shall endeavor to resolve it within ten (10) working days.
					It is hereby clarified that issues are resolved on severity basis, and certain issues 
					may be resolved earlier than the others. However, RIO, shall not be liable for any 
					damages or losses in the event you are not satisfied with any such resolution.
	      		</article>						
			</section>
	    </div>
	    <div uib-accordion-group is-open="open11"> 
	    	<uib-accordion-heading>
	       		Force Majeure
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open11, 'glyphicon-chevron-right': !open11}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			We shall not be liable for any failure to perform any obligations under this User Terms,
					if the performance is prevented, hindered or delayed by a Force Majeure Event and in 
					such case our obligations under this User Terms shall be suspended for so long as the 
					Force Majeure Event continues.
	      		</article>				
			</section>
	    </div>
	    <div uib-accordion-group  is-open="open12"> 
	    	<uib-accordion-heading>
	       		Indemnification
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open12, 'glyphicon-chevron-right': !open12}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			By accepting these User Terms and using the RIO Service, You agree that You shall 
					defend, indemnify and hold RIO, its affiliates, its licensors, and each of its officers,
					directors, other users, employees, attorneys and agents harmless from and against any 
					and all claims, costs, damages, losses, liabilities and expenses (including attorneys’ 
					fees and costs) arising out of or in connection with: (a) Your violation or breach of 
					any term of these User Terms or any Applicable Law or regulation, whether or not 
					referenced herein; (b) Your violation of any rights of any third party, including 
					the TSPs; or (c) Your use or misuse of the RIO Platform or RIO Service.
	      		</article>				
			</section>
	    </div>	
	    <div uib-accordion-group  is-open="open22"> 
	    	<uib-accordion-heading>
	       		Liability
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open22, 'glyphicon-chevron-right': !open12}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			The information, recommendations and/or RIO Services provided to You on or through the 
					Application, the Site and by our call centers are for general information purposes only
					and do not constitute advice. RIO will reasonably keep the Application and/or its Site 
					and its contents correct and up to date but does not guarantee that (the contents of) 
					the Application and/or the Site are free of errors, defects, malware and viruses or 
					that the Application and/or the Site is correct, up to date and accurate.
	      		</article>	
				<article class="inp-wrapper">
	      			RIO shall not be responsible for incidents such as a Customer missing a 
					train/flight/event or delays caused by the TSP, as the RIO Service is dependent on many
					factors that are beyond RIO’s control. You must place a Service Request on the 
					Application after taking into account Your check-in time (if any), traffic and weather 
					conditions en-route to Your desired destination, political rallies, natural calamities,
					traffic barricades, car breakdowns and other un-expected delays. RIO may however at its
					sole and absolute discretion, reimburse you the amounts paid by you to RIO or 
					Rs. 5,000/-, whichever is lesser, in the event You miss a train/flight/bus as a result 
					of such delay. However, in order to be eligible for such reimbursement, the Vehicle must
					be booked for a pickup time which is at least 3 (three) hours before the scheduled 
					check-in time in case of a flight and at least 2 (two) hours before the scheduled 
					departure time in case of a bus/train, for distances that can be covered in at least 1
					(one) hour under normal traffic conditions.
	      		</article>	
				<article class="inp-wrapper">
	      			In the event, there is a delay by the TSP in reaching the pickup location within 30
					(thirty) minutes of the pickup time, RIO shall endeavor to get You in touch with the
					TSP assigned for Your Ride and/or connect You with another TSP.
	      		</article>
				<article class="inp-wrapper">
	      			RIO shall not be liable for any damages resulting from the use or inability to use 
					the channels of booking, including damages caused by wrong usage of website URL, error
					in call center numbers, network issues, malware, viruses or any incorrectness or 
					incompleteness of the information on the Site or Application, unless such damage is the
					result of any willful misconduct or gross negligence on the part of RIO
	      		</article>	
				<article class="inp-wrapper">
	      			You shall take full responsibility of your items and luggage. In case any items are lost
					inside the Vehicle during the Ride, RIO will try to locate the items on a “best-effort” 
					basis but it shall not responsible for the same in case it is lost or damaged. If you 
					leave any goods in the Vehicle or have any complaint in respect of the RIO Service or 
					the use of the Vehicle, You have to inform RIO of the same in writing within twenty four
					(24) hours of using the Vehicle or the RIO Services of RIO. In the event it is found, 
					you shall be informed of the RIO office from where you can collect it after three (3) 
					working days from the date you were informed. RIO however shall not be responsible for 
					delivering the same back to you. If requested, RIO may deliver the misplaced item/s 
					back to you after three (3) working days from the date you were informed, subject to 
					the place of delivery being within a 20 km range from the nearest RIO office. RIO shall
					charge you a flat fee of Rs. 500/- for such delivery
	      		</article>	
				<article class="inp-wrapper">
	      			RIO shall not be responsible for any loss of communication / information of status 
					update and benefits under the program. All this information will be sent on mobile 
					number and/or email ID registered with RIO. RIO will not be responsible for 
					appropriateness of mobile or email or any other communication medium. You shall be 
					responsible for immediately reporting the errors, if any, occurred in the information 
					sent to You regarding Booking confirmations.
	      		</article>
				<article class="inp-wrapper">
	      			IN NO EVENT SHALL RIO BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL
					OR CONSEQUENTIAL DAMAGES OR FOR ANY DAMAGES WHATSOEVER, WHETHER BASED ON CONTRACT, TORT,
					NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF RIO OR ANY OF RIO’s SUPPLIERS HAVE 
					BEEN ADVISED OF THE POSSIBILITY THEREOF.
	      		</article>	
				<article class="inp-wrapper">
	      			IN ADDITION, AND WITHOUT LIMITING THE FOREGOING, TO THE FULLEST EXTENT PERMITTED BY 
					APPLICABLE LAW, IN NO EVENT WILL RIO’s AGGREGATE LIABILITY ARISING OUT OF OR IN 
					CONNECTION WITH THESE USER TERMS OR THE SERVICES RENDERED HEREUNDER, WHETHER IN CONTRACT,
					TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY, OR OTHER THEORY), WARRANTY, OR OTHERWISE,
					EXCEED THE AMOUNT OF Rs. 5000/- (Rupees Five Thousand only).
	      		</article>		
				<article class="inp-wrapper">
	      			If Applicable Law does not permit the exclusion of certain warranties or the limitation
					or exclusion of liability for incidental or consequential damages or death or personal
					injury, the scope and duration of such warranty exclusions and the extent of the 
					liability of RIO shall be the minimum permitted under Applicable Law.
	      		</article>		
			</section>
	    </div>
	     <div uib-accordion-group is-open="open13"> 
	    	<uib-accordion-heading>
	       		Intellectual Property Ownership
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open13, 'glyphicon-chevron-right': !open13}"></i>
			</uib-accordion-heading>
			<section>
	      		<article class="inp-wrapper">
	      			RIO alone (and its licensors, where applicable) shall own all right, title and interest, including 
					all related intellectual property rights, in and to
	      		</article>	
				<article class="inp-wrapper">
	      			1.	The RIO Service and any suggestions, ideas, enhancement requests, feedback, recommendations 
					related thereto or connected therewith;
					2.	text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, 
					music, artwork and computer code related or connected with the RIO Service; or
					3.	Other information provided by you or any other party relating to the RIO Service.
	      		</article>	
				<article class="inp-wrapper">
	      			Third party trademarks may appear on the RIO Service and all rights therein are reserved to the 
					registered owners of those trademarks. For use of any third party’s intellectual property, you need
					to get permission directly from the owner of the intellectual property for any use.
	      		</article>
				<article class="inp-wrapper">
	      			These User Terms do not constitute a sale and do not convey to you any rights of ownership in or 
					related to the RIO Service, or any intellectual property rights owned by RIO. You shall be solely 
					responsible for any violations of any laws and for any infringements of any intellectual property 
					rights caused by you of the RIO Service or the Site/ Application.
	      		</article>	
				<article class="inp-wrapper">
	      			You may use information on RIO Service purposely made available by Us for downloading from the 
					Application and/or Site, provided that You:
	      		</article>	
				<article class="inp-wrapper">
	      			1.	Do not remove any proprietary notice language in all copies of such documents and make no 
					modifications to the information;
					2.	use such information only for Your personal, non-commercial informational purpose and do not 
					copy or post such information on any networked computer or broadcast it in any media; or
					3.	Do not make any additional representations or warranties relating to such information.
	      		</article>
			</section>
	    </div>
	     <div uib-accordion-group is-open="open14"> 
	     	<uib-accordion-heading>
	       		Term and Termination
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open14, 'glyphicon-chevron-right': !open14}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			Unless terminated in accordance with this Clause, these User Terms are perpetual in nature 
					and govern all Service Requests, Bookings and Rides effected through the Application.
	      		</article>	
				<article class="inp-wrapper">
	      			You are entitled to terminate these User Terms at all times by permanent deletion of the Application
					installed on your smart phone, thus disabling the use by you of the Application and the RIO Service.
	      		</article>	
				<article class="inp-wrapper">
	      			RIO is entitled to terminate its agreement with You at all times and with immediate 
					effect (by disabling Your use of the Site and the RIO Service) if You: (a) violate or 
					breach any term of these User Terms, or (b) in the opinion of RIO, misuse the 
					Application or the RIO Service. RIO is not obliged to give notice of the termination of
					the agreement in advance. After termination RIO will give notice thereof in accordance 
					with these User Terms.
	      		</article>
				<article class="inp-wrapper">
	      			Termination of this agreement will not prejudice accrued rights of either RIO or You.
	      		</article>	
				<article class="inp-wrapper">
	      			Such clauses which by their very nature require survival post termination of these User Terms, 
					shall survive the expiry/termination of these User Terms.
	      		</article>	
			</section>
	    </div>
	    <div uib-accordion-group is-open="open15"> 
			<uib-accordion-heading>
       		Invalidity of One or More Provisions
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open15, 'glyphicon-chevron-right': !open15}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			The invalidity of any term of these User Terms shall not affect the validity of the 
					other provisions of these User Terms. If and to the extent that any provision of these 
					User Terms is invalid, or is unacceptable in the given circumstances, a provision shall
					apply between the parties instead that is acceptable considering all the circumstances, 
					taking into account the content and the purpose of these User Terms.
	      		</article>	
			</section>
	    </div>

	    <div uib-accordion-group is-open="open16">
	    	<uib-accordion-heading>
	       		Modification of the Service And User Terms
	       		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':open16, 'glyphicon-chevron-right': !open16}"></i>
			</uib-accordion-heading>
	      	<section>
	      		<article class="inp-wrapper">
	      			RIO reserves the right, at its sole discretion, to modify or replace any of these User 
					Terms, or change, suspend, discontinue or restrict your use to all or any feature of the
					RIO Service or Application at any time by posting a notice on the Site or by sending you
					notice in accordance with Clause 19 below. Your continuous use of the Application/ Site 
					after such notification shall be deemed to be acceptance of the revised terms by you.
	      		</article>	
			</section>
	    </div> 
	</uib-accordion>
</div>