<div id="welcome-wrap">
  <section class="parallax img-1"></section>
  <section id="who-we-are" class="container">
    <article>
      <div class="row">
          <div class="col-md-4">
            <div class="img-container">
              <img src="/images/img1.jpg" class="img-wrap" />
              <p>Rental - Personal</p>
            </div>
          </div>
          <div class="col-md-4">
             <div class="img-container">
             <img src="/images/img2.png" class="img-wrap"/>
             <p>Rental - Corporate</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-container">
             <img src="/images/img3.png" class="img-wrap"/>
             <p>Errand Services</p>
            </div>
          </div>
      </div>
    </article>
    <article class="sub-content">
      <div class="row">
          <div class="col-md-4">
            <div id="help-img"> 
             <img src="/images/img4.jpg">
            </div>
          </div>
          <div class="col-md-8 help-box" >
             <h1 class="title-help">Need Help?</h1>
             <h3 class="subtitle-help">Ask for Viki – Your Personal Helper to make ease your ride back home</h3>
             <div class="coming-soon">
                <h3 class="subtitle-help">Coming Soon!!!</h3>
                <h3 class="subtitle-help">In Chennai, Bangalore and Mumbai</h3> 
             </div>
             
          </div>
      </div>
    </article>
  </section> 
  <section class="parallax img-2">
    <div class="container" id="timer-container">
      <div class="row">
          <div class="col-md-9">
            <div id="app-ready">
              <h1 class="box"><span>Our</span> <span>New</span> <span>App</span> <span>Is</span> <span>Almost</span> <span>Ready</span> <span>To</span> <span>Launch</span></h1>
              <div id="ready-box">
                  <p>We're working hard behind the screens to create something awesome</p>
                  <p>Signup below and we'll make sure you're on the VIP list when it is good to go.</p>
              </div>
            </div>
          </div>
           <div class="col-md-3">
              <div  id="mobile-background">
             <!--  <img src="/images/Picture2.png" width="300" height="300" /> -->
                <div class='time-to'>
                  <countdown date='December 1, 2017 9:00:00'></countdown> 
              </div>
          </div>
      </div>
    </div>
  </section>
</div>